<a href="https://colab.research.google.com/github/sreekarp/svm/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [4]:
df = pd.read_csv('/content/Churn_Modelling.csv')

In [5]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
df.shape

(10000, 14)

In [9]:
# Data Preprocessing
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [10]:
# Encode categorical variables using Label Encoding
label_encoder = LabelEncoder()
df['Geography'] = label_encoder.fit_transform(df['Geography'])
df['Gender'] = label_encoder.fit_transform(df['Gender'])

In [11]:
# Split the dataset into features and target variable
X = df.drop('Exited', axis=1)
y = df['Exited']

In [12]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [13]:
# Feature Scaling (important for SVM)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
# Build an SVM classifier
classifier = SVC(kernel='linear')
classifier.fit(X_train, y_train)

# Make predictions
y_pred = classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.779

In [15]:
support_vectors = classifier.support_vectors_
coefficients = classifier.coef_

print("Support Vectors:", support_vectors)
print("Coefficients:", coefficients)

Support Vectors: [[-1.19958176 -0.89958469 -1.09003844 ...  0.64143012 -1.03097965
   1.49611098]
 [ 1.24233338  0.30851964 -1.09003844 ...  0.64143012 -1.03097965
  -0.46544051]
 [ 0.70428428 -0.89958469  0.91739884 ...  0.64143012  0.96995125
  -0.72081974]
 ...
 [ 0.97330883 -0.89958469 -1.09003844 ... -1.55901627  0.96995125
   1.39292475]
 [-0.07174807 -0.89958469 -1.09003844 ...  0.64143012 -1.03097965
  -0.39442772]
 [ 1.08712691  0.30851964  0.91739884 ... -1.55901627  0.96995125
  -0.8583467 ]]
Coefficients: [[-7.92844418e-06 -2.77884997e-05 -6.73380844e-05  7.40646628e-05
  -6.69795202e-07  4.70419184e-05  6.04172017e-05  4.98586419e-07
  -1.37032338e-04  7.79895495e-05]]

In [16]:
classifier.get_params()

{'C': 1.0,
 'break_ties': False,
 'cache_size': 200,
 'class_weight': None,
 'coef0': 0.0,
 'decision_function_shape': 'ovr',
 'degree': 3,
 'gamma': 'scale',
 'kernel': 'linear',
 'max_iter': -1,
 'probability': False,
 'random_state': None,
 'shrinking': True,
 'tol': 0.001,
 'verbose': False}

In [17]:
# Build an SVM classifier
classifier1 = SVC(kernel='poly', random_state=42)
classifier1.fit(X_train, y_train)

# Make predictions
y_pred = classifier1.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.844

In [18]:
# Build an SVM classifier
classifier1 = SVC(kernel='rbf', random_state=42)
classifier1.fit(X_train, y_train)

# Make predictions
y_pred = classifier1.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.847